*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: unset;
    box-sizing: border-box;
    font-family: Poppins;
}
header{
    background-image: url('../Assets/day.jpeg');
    height: 350px;
    background-size: cover;
    background-position: center;
}

/* FOOTER STYLES */
img.social{
    width: 20px;
    margin: 0px 10px;
}
footer{
    background-color: #f1f1f1;
    color: violet;
    font-family: Poppins;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.list_container{
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}
.container{
    position: absolute;
    width: 400px;
    min-height: 300px;
    top: -200px;
}
.container .list_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
}
.container .list_heading h2{
    color:#fff;
}
div.add_task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 5px;
}
div.add_task input::placeholder{
    font-size: 1.2rem;
    padding: 15px;
}
div.add_task input{
    flex-basis: 80%;
    height: 40px;
    border: 0;
}
.entity_code{
    font-size: 1.8rem;
    color: #4f4dde;
    font-weight: 900;
}
div.list_def{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    width: 100%;
    top: 150px;
    color: #808080;
    background-color: white;
    border-radius: 5px;
}
div.status{
    display: flex;
    align-items: space-evenly;
    justify-content: space-around;
    padding: 5px;
}
div.status .status_types{
    padding: 5px;
}
#added_items{
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
    width: 100%;
    top: 200px;
}
