*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: unset;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
header{
    background-image: url('../Assets/day.jpeg');
    height: 350px;
    background-size: cover;
    background-position: center;
}

/* FOOTER STYLES */
img.social{
    width: 20px;
    margin: 0px 10px;
}
footer{
    background-color: #f1f1f1;
    color: violet;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* SECTION STYLES */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container{
    width: 400px;
    min-height: 350px;
    position: absolute;
    top: -200px;
}
.container .heading{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.heading .mode{
    color: slateblue;
    font-weight: 600; 
    border-radius: 5px;
    height: 40px;
    background-color: #fff;
    padding: 5px;
}
.heading .mode button{
    width: 20px;
    height: 20px;
    padding: 2px 2px 2px 4px;
    background-color: #111;
    cursor:pointer;
    border-radius: 8px;
}
.heading .mode button:checked{
}
.add_task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-color: #fff;
    height: 40px;
    border-radius: 5px;
}
.add_task input{
    padding: 10px;
    padding-right: 20px;
    flex-basis: 88%;
    border: none;
    border-radius: 5px;
}
.add_task input::placeholder{
    font-family: Poppins !important;
    font-size: 1.2rem;
    padding-left: 20px;
}
.add_task .entity_codes{
    color: #4f4dde;
    font-size: 1.5rem;
    font-weight: 900; 
    padding-right: 10px;
    cursor: pointer;
}
ol.todo-list{
    min-height: 100px;
    margin-top: 70px;
    overflow-y: scroll;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.todo-list .taskbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080;
    opacity: 0.8;
    background-color: #fff;
    margin: 6px 8px 10px 2px;
    max-height: 50px;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 3px 14px 3px 14px;
}
.list{
    display: flex;
    margin: 35px;
}
.list .list_status{
    padding: 3px;
}
.todo-list .items{
    display:flex;
    align-items: center;
    justify-content: space-between;;
    margin: 6px 8px 10px 2px;
    padding: 5px 5px 5px 10px;
    background-color: #fff;
    height: 35px;
    border-radius: 5px;
}
/* .todo-list .items{
    flex-basis: 15%;
} */
.items #check{
    display: block;
    border-radius: 20%;
}
#cross{
    padding: 8px;
}
#cross:hover{
    font-weight: 900;
    color: crimson;
    cursor: pointer;
}
.todo-list .items input{
    background-color: red;
}